body{
  background:#f4efef;
  font-family:'Arial';
}

.voltar-topo{
  font-size:26px;
  margin:15px;
  display:inline-block;
  text-decoration:none;
  color:#000;
}

.titulo{
  text-align:center;
  font-size:38px;
  margin-top:-20px;
}

.filtros{
  display:flex;
  justify-content:center;
  margin-top:10px;
}

.filtro{
  background:#ede6e6;
  padding:10px 20px;
  margin:0 10px;
  font-size:20px;
  border-radius:6px;
  cursor:pointer;
}

.lista-jogos{
  margin:30px;
}

.item{
  display:flex;
  align-items:center;
  background:#ede6e6;
  padding:15px;
  margin-bottom:18px;
  border-radius:10px;
}

.left{
  display:flex;
  align-items:center;
  width:200px;
}

.left img{
  width:60px;
}

.x{
  font-size:26px;
  font-weight:bold;
  margin:0 10px;
}

.info{
  flex:1;
  font-size:18px;
}

.btn{
  background:#000;
  color:#fff;
  padding:10px 18px;
  font-size:16px;
  border-radius:5px;
  text-decoration:none;
  font-weight:bold;
}
