body{
  background:#f4efef;
  font-family: 'Arial';
}

.topo{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px;
  background:#ede6e6;
  border-bottom:2px solid #000;
}

.topo h2{
  font-weight:bold;
  font-size:22px;
}

.voltar{
  font-size:22px;
  text-decoration:none;
  color:#000;
}

.icons-right img{
  width:28px;
  margin-left:12px;
}

.meses{
  display:flex;
  justify-content:space-around;
  margin-top:30px;
}

.mes{
  width:45%;
}

.mes h1{
  text-align:center;
  margin-bottom:15px;
  border-bottom:3px solid #000;
  font-size:28px;
}

.jogo{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:#ede6e6;
  padding:12px;
  margin-bottom:15px;
  border-radius:8px;
}

.jogo img{
  width:60px;
}

.x{
  font-size:26px;
  font-weight:bold;
}

.data{
  font-size:28px;
  font-weight:bold;
}

.mais-info{
  margin-top:20px;
  text-align:center;
  font-size:18px;
}
