/* Zerar padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f6fa;
    padding: 20px;
}

/* ======= HEADER ======= */
header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

header h2 {
    font-size: 24px;
    font-weight: bold;
}

.back {
    text-decoration: none;
    font-size: 26px;
    padding: 8px 12px;
    border-radius: 8px;
    background: #ddd;
    color: #000;
    transition: 0.3s;
}

.back:hover {
    background: #bbb;
}

/* ======= LISTA DE ATLETAS ======= */
.lista-atletas {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* CARD DO ATLETA */
.card {
    width: 80%;
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    border-color: #007bff;
    transform: scale(1.02);
}

.card span {
    font-size: 18px;
}

.card input[type="radio"] {
    transform: scale(1.3);
}

/* ======= BOTÃO CONTINUAR ======= */
.continuar {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #2c0182;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.continuar:hover {
    background: #2c0182;
}
