body {
    background: linear-gradient(135deg, #0D0B4F, #4118A8);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.modal {
    background: white;
    padding: 40px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}

.modal h2 {
    color: #00a86b;
    font-size: 26px;
    margin-bottom: 35px;
}

.btn {
    display: inline-block;   
    background: #AD39FF;
    color: white;
    padding: 12px 40px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
}
